<div class="main-container">
  
    
    <header class="header header-8">
     <div class="branding">
       <a href="..." class="nav-link">
         <span class="title">One Field Admin</span>
     </a>
     </div>
   
     <div class="header-actions" > 
         <a href="javascript://" class="nav-link nav-icon" aria-label="settings">
             <clr-icon shape="cog"></clr-icon>
         </a>
 
         <a href="javascript://" class="nav-link nav-icon" aria-label="settings">
           <clr-icon shape="logout"></clr-icon>
       </a>
 
     </div>
   </header>
   <div class="content-container" >
       
       <nav class="sidenav resize">
         <section class="sidenav-content" >
             <app-menu></app-menu>
         </section>
       </nav>
       <div class="content-area">
            <router-outlet></router-outlet>
       </div>
   </div>
 </div>