<div class="login-wrapper">
    <form class="login">
        <section class="title">
            <h3 class="welcome">Welcome to</h3>
            Application Name
            <h5 class="hint">Use your User to sign in or create one now</h5>
        </section>
        <div class="login-group">
            <clr-input-container>
                <label class="clr-sr-only">Username</label>
                <input type="text" name="userName" clrInput placeholder="User Name" [(ngModel)]="form.userName"/>
            </clr-input-container>
            <clr-password-container>
                <label class="clr-sr-only">Password</label>
                <input type="password" name="password" clrPassword placeholder="Password" [(ngModel)]="form.password"/>
            </clr-password-container>
         <!--   <clr-checkbox-wrapper>
                <label>Remember me</label>
                <input type="checkbox" name="rememberMe" clrCheckbox [(ngModel)]="form.rememberMe"/>
            </clr-checkbox-wrapper>
            <div class="error active">
                Invalid user name or password
            </div>-->
            <button type="submit" class="btn btn-primary" (click) = "login()">NEXT</button>
            <a href="javascript://" class="signup">Register</a>
        </div>
    </form>
</div>